# [**Vehicle CO2 Emission**](https://www.kaggle.com/datasets/brsahan/vehicle-co2-emissions-dataset/data "Kaggle: Vehicle CO2 Emissions")

## **About Dataset**

This dataset contains information on vehicle specifications, fuel consumption, and CO2 emissions, collected to analyze the environmental impact of vehicles and predict their CO2 emissions using regression models. The dataset is structured to support both **Simple Linear Regression (SLR)** and **Multiple Linear Regression (MLR)** approaches for machine learning projects.

#### **Key Features**

* **Make** - The manufacturer or brand of the vehicle (e.g., Toyota, Ford, BMW, etc.).
* **Model** - The specific model of the vehicle, indicating its design and version.
* **Vehicle Class** - Classification of vehicles based on size and intended usage (e.g., Compact, SUV, Sedan, etc.).
* **Engine Size (Liters)** - The displacement volume of the engine, measured in liters (L).
* **Cylinders** - The number of cylinders in the engine, which affects engine performance and efficiency. 
* **Transmission** - The type of transmission system in the vehicle, which determines how the engine power is delivered to the wheels.
* **Fuel Type** - The type of fuel used by the vehicle. Different fuel types affects efficiency, cost, and emissions.
* **Fuel Consumption City (L/100 km)** - The fuel consumption of the vehicle in city driving conditions, measured in liters per 100 kilometers (L/100 km).
* **Fuel Consumption Hwy (L/100 km)** - The fuel consumption of the vehicle on highways, measured in liters per 100 kilometers (L/100 km).
* **Fuel Consumption Combined (L/100 km)** - Combined fuel consumption (L/100 km).
* **Target: CO2 Emission (g/km)** - CO2 emissions in grams per kilometer.

## **Import Required Libraries & Setup**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import prettytable
import csv

prettytable.DEFAULT = 'DEFAULT'

In [2]:
# Set up database connection
con = sqlite3.connect('vehicle_co2_emission_data.db')
cur = con.cursor()

In [3]:
%load_ext sql

%sql sqlite:///vehicle_co2_emission_data.db

In [4]:
df = pd.read_csv('co2.csv')
df.to_sql('vehicle_co2_emission_TBL', con, if_exists='replace', index=False)

7385

In [5]:
# Drop the table if it exists
%sql DROP TABLE IF EXISTS vehicle_co2_emission_table;

 * sqlite:///vehicle_co2_emission_data.db
Done.

[]

In [6]:
%sql CREATE TABLE vehicle_co2_emission_table AS SELECT * FROM vehicle_co2_emission_TBL;

 * sqlite:///vehicle_co2_emission_data.db
Done.

[]

## **Queries in SQL**

1. Which vehicle make has the highest average C02 emissions?

In [8]:
%%sql

SELECT "Make",
    AVG("CO2 Emissions(g/km)") as avg_co2
FROM vehicle_co2_emission_table
GROUP BY "Make"
ORDER BY avg_co2 DESC
LIMIT 1;

 * sqlite:///vehicle_co2_emission_data.db
Done.

[('BUGATTI', 522.0)]

2. What are the top 5 most fuel-efficient vehicle models (lowest combined fuel consumption)?

In [9]:
%%sql

SELECT "Make",
    "Model",
    "Fuel Consumption Comb (L/100 km)" as fuel_comb
FROM vehicle_co2_emission_table
ORDER BY fuel_comb ASC
LIMIT 5;

 * sqlite:///vehicle_co2_emission_data.db
Done.

[('HYUNDAI', 'IONIQ BLUE', 4.1),
 ('HYUNDAI', 'IONIQ BLUE', 4.1),
 ('HYUNDAI', 'IONIQ Blue', 4.1),
 ('HYUNDAI', 'IONIQ Blue', 4.1),
 ('HYUNDAI', 'IONIQ', 4.2)]

3. How do average CO2 emissions differ by fuel type?

In [10]:
%%sql

SELECT "Fuel Type",
    AVG("CO2 Emissions(g/km)") AS avg_co2
FROM vehicle_co2_emission_table
GROUP BY "Fuel Type"
ORDER BY avg_co2 ASC;

 * sqlite:///vehicle_co2_emission_data.db
Done.

[('N', 213.0),
 ('X', 235.11932911740445),
 ('D', 237.54857142857142),
 ('Z', 266.0434103685197),
 ('E', 275.0918918918919)]

4. What is the average CO2 emission for each vehicle class?

In [14]:
%%sql

SELECT "Vehicle Class",
    AVG("CO2 Emissions(g/km)") AS avg_co2
FROM vehicle_co2_emission_table
GROUP BY "Vehicle Class"
ORDER BY avg_co2 DESC;

 * sqlite:///vehicle_co2_emission_data.db
Done.

[('VAN - PASSENGER', 397.2121212121212),
 ('VAN - CARGO', 361.5),
 ('SUV - STANDARD', 304.83673469387753),
 ('PICKUP TRUCK - STANDARD', 301.51301115241637),
 ('PICKUP TRUCK - SMALL', 278.9685534591195),
 ('TWO-SEATER', 277.454347826087),
 ('FULL-SIZE', 263.31611893583727),
 ('MINIVAN', 262.3125),
 ('SUBCOMPACT', 246.44884488448844),
 ('STATION WAGON - MID-SIZE', 238.69811320754718),
 ('SPECIAL PURPOSE VEHICLE', 237.5974025974026),
 ('MINICOMPACT', 236.6073619631902),
 ('SUV - SMALL', 236.29252259654888),
 ('MID-SIZE', 222.45542806707854),
 ('COMPACT', 216.67906066536204),
 ('STATION WAGON - SMALL', 200.06746031746033)]

5. Which transmission type is associated with the lowest average CO2 emissions?

In [15]:
%%sql

SELECT "Transmission",
    AVG("CO2 Emissions(g/km)") AS avg_co2
FROM vehicle_co2_emission_table
GROUP BY "Transmission"
ORDER BY avg_co2 ASC
LIMIT 1;

 * sqlite:///vehicle_co2_emission_data.db
Done.

[('AM5', 148.5)]

6. What is the trend between engine size and CO2 emissions?

In [16]:
%%sql

SELECT ROUND("Engine Size (L)", 1) AS engine_size,
    AVG("CO2 Emissions(g/km)") AS avg_co2
FROM vehicle_co2_emission_table
GROUP BY engine_size
ORDER BY engine_size ASC;

 * sqlite:///vehicle_co2_emission_data.db
Done.

[(0.0, 250.58469871360867)]

7. Which manufacturers offer hybrid vehicles, and what are their average CO2 emissions?

In [17]:
%%sql

SELECT "Make",
    COUNT(*) AS hybrid_count, 
    AVG("CO2 Emissions(g/km)") AS avg_co2
FROM vehicle_co2_emission_table
WHERE "Model" LIKE "%HYBRID%"
GROUP BY "Make"
ORDER BY avg_co2 ASC;

 * sqlite:///vehicle_co2_emission_data.db
Done.

[('HONDA', 7, 115.85714285714286),
 ('CHEVROLET', 4, 121.25),
 ('VOLKSWAGEN', 3, 123.33333333333333),
 ('HYUNDAI', 13, 136.76923076923077),
 ('LINCOLN', 7, 137.42857142857142),
 ('FORD', 15, 139.86666666666667),
 ('KIA', 10, 140.8),
 ('TOYOTA', 31, 152.80645161290323),
 ('SUBARU', 3, 175.0),
 ('ACURA', 12, 187.58333333333334),
 ('INFINITI', 16, 188.625),
 ('MERCEDES-BENZ', 1, 202.0),
 ('NISSAN', 2, 202.0),
 ('AUDI', 3, 208.66666666666666),
 ('BMW', 7, 209.42857142857142),
 ('PORSCHE', 1, 251.0)]